body {
    background-color: lightgray;
}

.carousel-item > img{
    height:500px; 
    object-fit:cover;
}

.carousel-caption > h5{
    font-weight: bold;
    font-size: 3rem;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.carousel-caption > p{
    font-weight: bold;
    font-size: 2rem;
    text-shadow: black 0.1em 0.1em 0.2em;
}
