{% extends 'base.html.twig' %}

{% block title %}Prendre un RDV | {{ parent() }}{% endblock %}

{% block body %}
<style>
    input[type="color"].form-control{
        width: 80px;
    }
</style>
<div class="container mt-5 mb-5 pt-3 pb-3 bg-white" style="border:5px solid black; border-radius:10px; box-shadow:2px 2px 5px black;">

    <h1>Prendre RDV</h1>

    {{ include('rdv/_form.html.twig') }}

</div>
    
{% endblock %}
